@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans), sans-serif;
    --font-sans--font-feature-settings: "liga" on, "clig" on;
    --font-mono: var(--font-geist-mono), monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #232323;
        --foreground: #a2a2a2;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}