@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: var(--color-zinc-950);
    --foreground: var(--color-zinc-450);
}

.dark {
    --background: var(--color-zinc-950);
    --foreground: var(--color-zinc-450);
}

body {
    background: var(--background);
    color: var(--foreground);
}
