name: Test & Lint

permissions:
  contents: read

on:
  push:
    branches:
      - '**'
    paths:
      - "cli/so/**"
  pull_request:
    branches:
      - '**'
    paths:
      - "cli/so/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.2"

      - name: Run make all
        working-directory: cli/so
        run: make all 